<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% feed_meta %}
    <title>
      {{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}
    </title>
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
<body>
  <div class="container">
    <h1>
      <code>
        <code><a href="/">{{ site.title }}</a></code>
      </code>
    </h1>
